@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


#quote-box {
 z-index: 0;
 border-radius: 12px;
 width: 610px;
 transition: 1s ease;
 padding: 35px;
 
}

#text {
    text-align: center;
    
}

#quote-right {
    margin-left: 6px;
    margin-bottom: 5px;
}

#quote-left {
    margin-right: 10px;
    margin-bottom: 5px;
}

#author {
    text-align: right;
}

#new-quote {
    margin-right: 60px;
}

#tweet-quote{
    margin-right:  20px;
    margin-left:  50px;
}

.hr {
    margin-top: 20px;
}

footer {
    margin-top: 21px;
    text-align: center;
    font-weight: 400;
}


